html {
  font-size: 10px;
}

.menu {
  text-align: center;
  background-color: #818181;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
}

section {
  float: right;
  width: 75%;
}

aside {
  width: 25%;
}
