html {
  font-size: 10px;
}

.menu {
  text-align: center;
  background-color: #818181;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
}

.droite {
  float: right;
}

table {
  margin-left: 50rem;
}

article {
  float: right;
}
.top {
  float: right;
}

aside {
  float: left;
}

.gauche {
  float: left;
}
